#message-info-audit, .field-group-audit  {
    width: 700px;
}

#toggle-permission {
    margin-bottom: 10px;
    margin-top: 5px;
}

.save-btn {
    margin-left: 60px;
}

#job-buttons {
    display: block;
    margin-top: 10px;
}

#job-interval {
    max-width: 100px;
}

#audit-report{
    width: 950px;
}

#job-info {
    width: 400px;
}