.field-group-audit  {
    width: 450px;
}

#message-info-audit {
    width: 750px;
}

#toggle-permission, .audit-job-interval {
    margin-bottom: 10px;
    margin-top: 5px;
}

.save-btn {
    margin-left: 60px;
}

#job-buttons {
    display: block;
    margin-top: 10px;
}

#job-interval {
    max-width: 40px;
}