<html>
<head>
    <title>Group Permissons Audit Service Configuration</title>
    <meta charset="UTF-8"/>
    <meta name="decorator" content="atl.admin">
</head>
<body>
<h5>Job Input</h5>
<form id="admin" class="aui" action="" method="POST">
    <div class="field-group-audit">
        <label for="ignored-spaces">Select space keys to be ignored from audit:</label>
        <select class="multi-select" multiple="multiple" size="8" id="ignored-spaces">
            #foreach($spaceKey in $allSpaceKeys)
                <option value="$spaceKey" #if ($ignoredSpaces.contains($spaceKey)) selected #end>$spaceKey</option>
            #end
        </select>
    </div>

    <div class="field-group-audit">
        <label for="monitored-groups">Select affected groups:</label>
        <select class="multi-select" multiple="multiple" size="8" id="monitored-groups">
            #foreach($group in $allGroups)
                <option value="$group.getName()" #if ($monitoredGroups.contains($group.getName()))
                        selected #end>$group.getName()</option>
            #end
        </select>
    </div>

    <div class="field-group-audit" id="email-receivers"
        #if ($email.equals("false")) hidden #end>
        <label for="email-receivers">Select mail receivers:</label>
        <select class="multi-select" multiple="multiple" size="8">
            #foreach($userName in $allUserNames)
                <option value="$userName" #if($receivers.contains($userName)) selected #end>$userName</option>
            #end
        </select>
    </div>

    <aui-toggle id="outgoing-email" label="Send outgoing email" tooltip-on="Enabled" tooltip-off="Disabled"
        #if ($email.equals("true")) checked #end>
    </aui-toggle>
    <aui-label for="outgoing-email">Send outgoing email</aui-label>

    <div id="toggle-permission">
        <aui-toggle id="permission-removal" label="Remove permissions" tooltip-on="Enabled" tooltip-off="Disabled"
            #if ($permission.equals("true")) checked #end>
        </aui-toggle>
        <aui-label for="permission-removal">Remove permissions</aui-label>
    </div>

    <div class="save-btn">
        <button class="aui-button aui-button-primary" id="save-button">Save</button>
    </div>
</form>
<h5>Job Management</h5>
    #if ($jobStatusBar.equals("Scheduled")) <span class="aui-lozenge aui-lozenge-success"
                                                  id="state-indicator">$jobStatusBar</span>
    #elseif ($jobStatusBar.equals("Disabled")) <span class="aui-lozenge aui-lozenge-error"
                                                     id="state-indicator">$jobStatusBar</span>
    #end

<div class="audit-job-interval">
    <label for="job-interval">Audit Job interval (hours):</label>
    <input type="number" min="0" id="job-interval" class="text" value="$!timeframe">
</div>


<div class="aui-buttons" id="job-buttons">
    <button class="aui-button" id="state-button">$jobControlButton</button>
    <button class="aui-button" id="run-now-button">Run Now</button>
</div>

<div class="aui-message aui-message-info" id="message-info-audit">
    <strong>Configuration:</strong> visit Administration - Scheduled Jobs in order to set time interval for running job
    or to run it manually<br>
    <strong>Default schedule:</strong> each day at 00:00:00<br>
    <strong>Please pay attention to the following bug related to scheduled jobs settings: </strong> <a
        href="https://jira.atlassian.com/browse/CONFSERVER-55455">CONFSERVER-55455</a><br>
    <strong>Job: </strong>Group Permissons Audit Job<br>
</div>
</body>
</html>